.sell-btn {
    background-color: var(--acc);
    border:solid 1px var(--acc);
    font-weight: 550;
    color: white;
}

.sell-btn:hover {
    transition: 0.3s;
    background-color:var(--acchover);
    color: white;
}

.login-btn {
    border: solid 1px var(--acc);
    color: var(--acc);
    background-color: transparent;
    
} 

.login-btn:hover {
    transition: 0.3s;
    background-color:var(--acc);
    border: solid 1px var(--acc);
    color: white;
}

.logout-btn {
    color: var(--darkgrey);

}

.logout-btn:hover {
    transition: 0.3s;
    background-color: transparent;
    color: var(--acc);
}

.button-accedi{
    width: 320px;
    

}

.anchor-login{
    text-decoration: none;
}

.utente{
    color: var(--acc);
}

.rounded-custom{
    border-radius: 50rem;
}

@media screen and (max-width: 1100px) {
    .rounded-custom{
        border-radius: 15px;
    }
}